<div class="footer-section">
<div class="footer-section-bg-graphics">
<img src="assets/images/footer-section-bg.png">
</div>

<div class="container footer-container">
<div class="col-lg-4 col-md-6 footer-logo">
<a href = "{{ site.baseurl }}"><img src="assets/images/tiddlyroam-logo-white.png"></a>
<p class="footer-susection-text">your open source external brain.</p>
</div>
<div class="col-lg-4 col-md-6 footer-subsection">
<div class="footer-subsection-2-1">
<h3 class="footer-subsection-title">About</h3>
<p class="footer-subsection-text">{{ site.description }}</p>
</div>
</div>

<div class="col-lg-4 col-md-6 footer-subsection">
<h3 class="footer-subsection-title">Get in touch</h3>
<ul class="footer-subsection-list">
{% comment %} <li>123 Business Centre<br>London SW1A 1AA</li> {% endcomment %}
{% comment %} <li>{{ site.number }}</li> {% endcomment %}
<li><a href ="https://github.com/joekroese/tiddlyroam"><b>tiddlyroam</b> community</a></li>
{% comment %} <li><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="8de0ece4e1cde9e2e0ece4e3a3eee2e0">[email&#160;protected]</a></li> {% endcomment %}
</ul>
</div>

{% comment %} <div class="col-lg-3 col-md-6 footer-subsection">
<div class="footer-subsection-2-2">
<h3 class="footer-subsection-title">Socials</h3>
<div class="footer-social-media-icons-section">
<a href="#top" class="footer-social-media-icon"><i class="fa fa-twitter"></i></a>
<a href="#top" class="footer-social-media-icon"><i class="fa fa-instagram"></i></a>
<a href="#top" class="footer-social-media-icon"><i class="fa fa-facebook"></i></a>
<a href="#top" class="footer-social-media-icon"><i class="fa fa-linkedin"></i></a>
</div>
</div>
</div> {% endcomment %}
</div>

<div class="container footer-credits">
<p>&copy; 2020 <a href="{{ site.baseurl }}" target="_blank" title="tiddlyroam">tiddlyroam</a></p>
</div>
</div>
</div>