<meta charset="UTF-8">

<title>
{% if page.url != '/' %}
    {{page.title}} &middot; {{site.name}}
    {% else %}
    {{site.name}} &middot; {{site.tagline}}
{% endif %}
</title>

{% feed_meta %}
{%- seo title=false -%}

<link rel="stylesheet" href= "{{ "assets/css/bootstrap.css" | relative_url }}">
<link rel="stylesheet" type="text/css" href="{{ "assets/css/style.css" | relative_url }}" />
<link rel="stylesheet" type="text/css" href="{{ "assets/css/accordian.css" | relative_url }}" />
<link rel="stylesheet" href= "{{ "assets/css/owl/owl_002.css" | relative_url }}" >
<link rel="stylesheet" href= "{{ "assets/css/owl/owl.css" | relative_url }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{"assets/js/smoothscroll.js" | relative_url }}"></script>
<script>
    $("#navbarNav").on("click", "a", function () {
       $(".navbar-toggle").click();
       //or $("#nav").slideToggle();
 });
    </script>