<meta charset="UTF-8">

<title>tiddlyroam: your open source external brain</title>
<meta name="description" content="tiddlyroam is what notebooks should look like: networked, simple and free.">
<meta name="keywords" content="tiddlyroam, notebook">
<meta name="author" content="tiddlyroam">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

<link rel="icon" type="image/png" href="{{"assets/images/favicon.png" | relative_url }}">

<link rel="stylesheet" href= "{{ "assets/css/bootstrap.css" | relative_url }}">
<link rel="stylesheet" type="text/css" href="{{ "assets/css/style.css" | relative_url }}" />
<link rel="stylesheet" type="text/css" href="{{ "assets/css/accordian.css" | relative_url }}" />
<link rel="stylesheet" href= "{{ "assets/css/owl/owl_002.css" | relative_url }}" >
<link rel="stylesheet" href= "{{ "assets/css/owl/owl.css" | relative_url }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{"assets/js/smoothscroll.js" | relative_url }}"></script>
<script>
    $("#navbarNav").on("click", "a", function () {
       $(".navbar-toggle").click();
       //or $("#nav").slideToggle();
 });
    </script>