<nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-header navbar-mobile">
<div class="navbar-container container">

<div class="navbar-brand">
<a class="navbar-brand-logo" href="">
<img src="assets/images/tiddlyroam-logo.png" width="155px">
</a>
</div>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse justify-content-around" id="navbarNav">
<ul class="navbar-nav menu-navbar-nav">
<li class="nav-item">
<a class="nav-link" href="#top">
<p class="nav-link-menu">Home</p>
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#about">
<p class="nav-link-menu">About</p>
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#features">
<p class="nav-link-menu">Features</p>
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#quickstart">
<p class="nav-link-menu">Quickstart</p>
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#tutorials">
<p class="nav-link-menu">Tutorials</p>
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#community">
<p class="nav-link-menu">Community</p>
</a>
</li>
</ul>
<ul class="navbar-nav">
<li class="nav-item">
<a class="nav-link learn-more-btn btn-invert" href="https://github.com/joekroese/tiddlyroam/releases/download/v1.0/tiddlyroam.html">Download</a>
</li>
</ul>
</div>
</div>
</nav>